rvl_alias "clk" "clk";
RVL_ALIAS "clk" "clk"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;

LOCATE COMP "clk12" SITE "A10" ;
IOBUF PORT "clk12" IO_TYPE=LVCMOS33 ;

LOCATE COMP "tx_uart" SITE "P3" ;
IOBUF PORT "tx_uart" IO_TYPE=LVCMOS33 ;
LOCATE COMP "rx_uart" SITE "P2" ;
IOBUF PORT "rx_uart" IO_TYPE=LVCMOS33 ;

LOCATE COMP "n64real" SITE "E7" ;
IOBUF PORT "n64real" PULLMODE=UP IO_TYPE=LVCMOS33 ;

LOCATE COMP "n64[0]" SITE "K2" ;
IOBUF PORT "n64[0]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[1]" SITE "F1" ;
IOBUF PORT "n64[1]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[2]" SITE "H2" ;
IOBUF PORT "n64[2]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[3]" SITE "G1" ;
IOBUF PORT "n64[3]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[4]" SITE "J4" ;
IOBUF PORT "n64[4]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[5]" SITE "J5" ;
IOBUF PORT "n64[5]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[6]" SITE "J3" ;
IOBUF PORT "n64[6]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[7]" SITE "K3" ;
IOBUF PORT "n64[7]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[8]" SITE "L4" ;
IOBUF PORT "n64[8]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[9]" SITE "L5" ;
IOBUF PORT "n64[9]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[10]" SITE "M4" ;
IOBUF PORT "n64[10]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[11]" SITE "N5" ;
IOBUF PORT "n64[11]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[12]" SITE "N4" ;
IOBUF PORT "n64[12]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[13]" SITE "P5" ;
IOBUF PORT "n64[13]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[14]" SITE "N3" ;
IOBUF PORT "n64[14]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[15]" SITE "M3" ;
IOBUF PORT "n64[15]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[16]" SITE "K5" ;
IOBUF PORT "n64[16]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[17]" SITE "M5" ;
IOBUF PORT "n64[17]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[18]" SITE "L3" ;
IOBUF PORT "n64[18]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[19]" SITE "N2" ;
IOBUF PORT "n64[19]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[20]" SITE "M1" ;
IOBUF PORT "n64[20]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[21]" SITE "L2" ;
IOBUF PORT "n64[21]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[22]" SITE "L1" ;
IOBUF PORT "n64[22]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[23]" SITE "N1" ;
IOBUF PORT "n64[23]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[24]" SITE "P1" ;
IOBUF PORT "n64[24]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[25]" SITE "K4" ;
IOBUF PORT "n64[25]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[26]" SITE "A9" ;
IOBUF PORT "n64[26]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[27]" SITE "B10" ;
IOBUF PORT "n64[27]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[28]" SITE "A11" ;
IOBUF PORT "n64[28]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[29]" SITE "T17" ;
IOBUF PORT "n64[29]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[30]" SITE "U16" ;
IOBUF PORT "n64[30]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[31]" SITE "U17" ;
IOBUF PORT "n64[31]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[32]" SITE "F19" ;
IOBUF PORT "n64[32]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[33]" SITE "F20" ;
IOBUF PORT "n64[33]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[34]" SITE "E20" ;
IOBUF PORT "n64[34]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[35]" SITE "E19" ;
IOBUF PORT "n64[35]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[36]" SITE "D19" ;
IOBUF PORT "n64[36]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[37]" SITE "D20" ;
IOBUF PORT "n64[37]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[38]" SITE "C20" ;
IOBUF PORT "n64[38]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[39]" SITE "P18" ;
IOBUF PORT "n64[39]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[40]" SITE "N20" ;
IOBUF PORT "n64[40]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[41]" SITE "N19" ;
IOBUF PORT "n64[41]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[42]" SITE "T16" ;
IOBUF PORT "n64[42]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[43]" SITE "M18" ;
IOBUF PORT "n64[43]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[44]" SITE "N17" ;
IOBUF PORT "n64[44]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[45]" SITE "P17" ;
IOBUF PORT "n64[45]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[46]" SITE "M17" ;
IOBUF PORT "n64[46]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[47]" SITE "U20" ;
IOBUF PORT "n64[47]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[48]" SITE "T19" ;
IOBUF PORT "n64[48]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[49]" SITE "N18" ;
IOBUF PORT "n64[49]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[50]" SITE "R20" ;
IOBUF PORT "n64[50]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[51]" SITE "U19" ;
IOBUF PORT "n64[51]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[52]" SITE "R18" ;
IOBUF PORT "n64[52]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[53]" SITE "L18" ;
IOBUF PORT "n64[53]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[54]" SITE "L17" ;
IOBUF PORT "n64[54]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[55]" SITE "U18" ;
IOBUF PORT "n64[55]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[56]" SITE "T18" ;
IOBUF PORT "n64[56]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[57]" SITE "T20" ;
IOBUF PORT "n64[57]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[58]" SITE "P20" ;
IOBUF PORT "n64[58]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[59]" SITE "R17" ;
IOBUF PORT "n64[59]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[60]" SITE "P19" ;
IOBUF PORT "n64[60]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[61]" SITE "N16" ;
IOBUF PORT "n64[61]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[62]" SITE "P16" ;
IOBUF PORT "n64[62]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[63]" SITE "R16" ;
IOBUF PORT "n64[63]" PULLMODE=UP IO_TYPE=LVCMOS33 ;


LOCATE COMP "debug[0]" SITE "C14" ;
IOBUF PORT "debug[0]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
LOCATE COMP "debug[1]" SITE "D14" ;
IOBUF PORT "debug[1]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
LOCATE COMP "debug[2]" SITE "E14" ;
IOBUF PORT "debug[2]" PULLMODE=UP IO_TYPE=LVCMOS25 ;


LOCATE COMP "led[0]" SITE "B17";
LOCATE COMP "led[1]" SITE "A17";
LOCATE COMP "led[2]" SITE "C17";
LOCATE COMP "led[3]" SITE "B18";
LOCATE COMP "led[4]" SITE "A18";
LOCATE COMP "led[5]" SITE "B19";
LOCATE COMP "led[6]" SITE "A12";
LOCATE COMP "led[7]" SITE "A13";

IOBUF PORT "led[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS25;

LOCATE COMP "button" SITE "P4";
IOBUF PORT "button" IO_TYPE=LVCMOS33;
