rvl_alias "clk" "clk";
RVL_ALIAS "clk" "clk"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
LOCATE COMP "clk12" SITE "A10" ;
IOBUF PORT "clk12" IO_TYPE=LVCMOS33 ;
LOCATE COMP "tx_uart" SITE "P3" ;
IOBUF PORT "tx_uart" IO_TYPE=LVCMOS33 ;
LOCATE COMP "rx_uart" SITE "P2" ;
IOBUF PORT "rx_uart" IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64real" SITE "E7" ;
IOBUF PORT "n64real" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[0]" SITE "K2" ;
IOBUF PORT "n64[0]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[1]" SITE "F1" ;
IOBUF PORT "n64[1]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[2]" SITE "G1" ;
IOBUF PORT "n64[2]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[3]" SITE "J5" ;
IOBUF PORT "n64[3]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[4]" SITE "K3" ;
IOBUF PORT "n64[4]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[5]" SITE "L5" ;
IOBUF PORT "n64[5]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[6]" SITE "N5" ;
IOBUF PORT "n64[6]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[7]" SITE "P5" ;
IOBUF PORT "n64[7]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n64[8]" SITE "M3" ;
IOBUF PORT "n64[8]" PULLMODE=UP IO_TYPE=LVCMOS33 ;

LOCATE COMP "led[0]" SITE "B17";
LOCATE COMP "led[1]" SITE "A17";
LOCATE COMP "led[2]" SITE "C17";
LOCATE COMP "led[3]" SITE "B18";
LOCATE COMP "led[4]" SITE "A18";
LOCATE COMP "led[5]" SITE "B19";
LOCATE COMP "led[6]" SITE "A12";
LOCATE COMP "led[7]" SITE "A13";

IOBUF PORT "led[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS25;

LOCATE COMP "button" SITE "P4";
IOBUF PORT "button" IO_TYPE=LVCMOS33;
